In [3]:
# libs
import numpy as np
import pandas as pd
import scipy.special
import scipy.stats as st

# Data Visualization
import matplotlib.pyplot as plt
import seaborn as sns 

# plotly
from plotly.offline import init_notebook_mode, iplot, plot
import plotly as py
init_notebook_mode(connected=True)
import plotly.graph_objs as go

%matplotlib inline

# Ingest dataset

In [6]:
# file path
winequality_red = 'data/winequality-red.csv'
winequality_white = 'data/winequality-white.csv'

# read file
red = pd.read_csv(winequality_red, delimiter=';')
white = pd.read_csv(winequality_white, delimiter=';')

In [8]:
df = pd.concat([red,white])
df.head(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5